{% extends 'account/account_base.html' %}
{% block settings_page %}
    <form action="" method="post" id="settings-form">
        {% csrf_token %}
        <div class="card-body pb-2">

            <div class="form-group">
                <label class="form-label">Старый пароль</label>
                {{ form.old_password }}
            </div>

            <div class="form-group">
                <label class="form-label">Новый пароль</label>
                {{ form.new_password1 }}
            </div>

            <div class="form-group">
                <label class="form-label">Повторите новый пароль</label>
                {{ form.new_password2 }}
            </div>

        </div>
    </form>
{% endblock %}
{% block addition_scripts %}
    <script>
        function myFunction() {
            let element = document.querySelector(".account-settings-links #change_password");
            element.classList.add("active");
        }

        myFunction();
    </script>
{% endblock %}