{% extends 'base.html' %}
{% load static %}
{% block addition_stylesheet %}
    <link rel="stylesheet" href="{% static 'account/css/outside_the_account.css' %}">
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
    <div class="form-signin">
        <form action="" method="post">
            {% csrf_token %}
            <h1>СБРОС ПАРОЛЯ</h1>
            <div class="form-floating">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">Email</label>
            </div>
            <button class="w-100 btn btn-primary" type="submit">Восстановить пароль</button>
            <p class="text-center">или перейти на страницу<br><a data-toggle="tab" href="{% url 'account:login' %}">Входа</a></p>
        </form>
    </div>
{% endblock %}