@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

/*@font-face {*/
/*    font-family: 'Comfortaa';*/
/*    src: local('Comfortaa'),*/
/*    url("static/base/fonts/Comfortaa-Light.ttf") format('truetype');*/
/*}*/

* {
    font-family: 'Comfortaa', cursive;
}

.size-4 {
    height: 4.5rem;
}

.main-content {
    padding-top: 5rem;
    padding-bottom: 4rem
}

.dropdown:hover > .dropdown-menu {
    display: block;
}